.App {
  text-align: center;
}

.StoryList-blue {
  border: 1px solid blue;
  /*background: lightblue*/
  /*margin: 5px 10px 5px 0px;*/
}

.AllStories-black {
  border: 15px solid black;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
}

.Story-orange {
  border: 1px solid orange;
  background: white;
  /*width: 95%;*/
  margin: 0px 40px 5px 0px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.CreateStoryForm-red {
  border: 2px solid red;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  /*top, right, bottom, left*/
}

.NavBar-yellow {
  border: 2px solid gray;
  background-color: yellow;
  @green;
  padding: 1px 5px 1px 5px;
}

.EditStoryForm-green {
  border: 2px solid green;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.EditStoryForm-linebreaks {
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.StoryShow-red {
  border: 2px solid red;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  /*top, right, bottom, left*/
}

.App-purple {
  border: 5px solid purple;
  background: lightgray
}

.EditStoryText-blue {
  color: blue;
}
