.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.StoryList-blue {
  border: 1px solid blue;
  background: pink
}

.Story-orange {
  border: 1px solid orange;
  background: white;
  width: 90%;
  margin: 25px 0px 25px 0px;
}

.CreateStoryForm-red {
  border: 2px solid red;
  background: white
}

.NavBar-yellow {
  border: 2px solid yellow;
  background: white
}

.EditStoryForm-green {
  border: 2px solid green;
  background: white
}

.App-purple {
  border: 5px solid purple;
  background: lightgray
}

.EditStoryText-blue {
  color: blue;
}
