.App {
  text-align: center;
}

.SideBar-blue {
  border: 1px solid blue;
  /*margin: 5px 10px 5px 0px;*/
}

.AllStories-green {
  border: 2px solid green;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
}

.OneStory-orange {
  border: 1px solid orange;
  background: white;
  /*width: 95%;*/
  margin: 0px 40px 5px 0px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.EachStoryInSideBar-pink {
  border: 3px solid pink;
  background: white;
  /*width: 95%;*/
  margin: 0px 40px 5px 0px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.CreateStoryForm-red {
  border: 2px solid red;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
  /*top, right, bottom, left*/
}

.NavBar-yellow {
  border: 2px solid gray;
  background-color: yellow;
  @green;
  padding: 1px 5px 1px 5px;
}

.EditStoryForm-blue {
  border: 2px solid blue;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.EditStoryForm-linebreaks {
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.StoryShow-purple {
  border: 2px solid purple;
  background: white;
  padding: 15px 0px 15px 25px;
  margin: 5px 0px 5px 20px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.App-purple {
  border: 5px solid purple;
  background: lightgray
}

.EditStoryText-blue {
  color: blue;
}
