.App {
  text-align: center;
}

.UL-no-padding {
  padding: 0;
}

.center {
  text-align: center;
}

.modal-trigger-wrapper {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.modal-trigger-segment {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 5%;
}

.modal-trigger {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 5%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.aboutWordNerds {
  margin-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.nameOrPasswordError {
  text-align: center;
  color: red;
}

.usernameExistsError {
  text-align: center;
  color: red;
}

.SideBar-blue {
  /*border: 2px solid blue;*/
  border-radius: 25px;
  background: lightgray;
  /*background: pink;*/
  /*margin: 5px 10px 5px 0px;*/
}

.SideBar-header {
  text-align: center;
  color: purple;
}

.SideBar-button {
  text-align: center;
}

.login-signup-link-options {
  padding-top: 10%;
  text-align: center;
  background-color: rgba(246, 252, 255, 1); /* the nerd gif's light blue background color */
}

.OneStory-orange {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 55px;
  /*white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.OneStory-forMetadata {
  margin-bottom: 25px;
}

.summaryForMetadata-header {
  background-color: lightgray;
  color: white;
}

.summaryForMetadata {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-top: 35px;
  margin-bottom: 35px;
}

.AllStories-header {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-top: 25px;
  margin-bottom: 50px;
  /*top right bottom left*/
}

.AllStories-green {
  /* border: 2px solid green; */
  /* border-radius: 25px; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background: white;
  margin: 5px 15px 50px 15px;
  padding: 2% 10% 2% 10%;
  /*top right bottom left*/
}

.AllStoriesForMetadata-purple {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* border: 2px solid purple; */
  /* border-radius: 25px; */
  background: white;
  margin: 5px 15px 15px 15px;
  padding: 5px 10px;
  /*top right bottom left*/
}

.EachStoryInSideBar-purple {
  border: 3px solid purple;
  border-radius: 25px;
  background: white;
  padding: 10px;
  margin: 25px 40px 5px 0px;
  /*margin: top right bottom left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.CreateStoryForm-red {
  /* border: 2px solid red; */
  border-radius: 25px;
  background: white;
  /*padding: 15px 0px 15px 25px;*/
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  /* margin: 5px 0px 5px 15px; */
  margin: 5px 0px 5px 0px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
  line-height: 1.1;
}

.CreateStoryFormSelectGenre {
  /* border: 2px solid blue; */
  background-color: azure;
}

.create-characters {
  background-color: lightyellow;
}

.genreSelection {
  /* border: 1px dotted green; */
  padding: 15px;
}

.genreSelectionRow {
  /*border: 1px solid blue;*/
  margin-left: 35%;
  margin-right: 35%;
}

/*.CreateStoryForm-red :not(.genderRadio) .field {*/
.CreateStoryForm-red .field {
  /* background-color: lightblue; */
  /* padding-bottom: 5%; */
}

.CreateStoryForm-red .genderField {
  /* background-color: yellow; */
  padding-left: 20%;
}

.CreateStoryForm-red .gender-label {
  padding-left: 25%;
}

.CreateStoryForm-red .genderRadio {
  padding-bottom: 0px;
  padding-left: 35%;
  /* background-color: pink; */
}

.CreateStoryForm-red .summaryField {
  /* background-color: lightgray; */
  padding-left: 35%;
}

.CreateStoryForm-red .ui.form .fields .wide.field {
  /* padding-left: 3%; */
  /* background-color: black; */
}

.LoginSignUp-divs {
  margin: 0 auto; /*this plus a width centers the divs*/
  /* margin-right: 200px; */
  width: 100%;
}

.login-signup-sentence {
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
  /* added 'raised' to add box-shadow around segment */
  margin: 25px 15px 5px 15px;
  /*top, right, bottom, left*/
}

.login-signup-storypage {
  margin: 25px 15px 5px -25px;
  /*top, right, bottom, left*/
}

.nerdy-login {
  margin-left: auto; /*this plus a width centers the gif*/
  margin-right: auto; /*this plus a width centers the gif*/
  width: 40%;
  text-align: center;
}

.nerdy {
  margin-top: 25%;
  margin-left: auto; /*this plus a width centers the gif*/
  margin-right: auto; /*this plus a width centers the gif*/
  width: 80%;
  text-align: center;
}

.nerdy-storypage {
  /* margin-top: 25%; */
  /* margin-left: auto; /*this plus a width centers the gif*/
  /* margin-right: auto; /*this plus a width centers the gif*/
  /* margin: 25% 4px 5px -4px; */
  margin: 25% 0px 5px 0px;
  /*top, right, bottom, left*/
  width: 80%;
  text-align: center;
}

.center-h1 {
  text-align: center;
}

.LoginForm-orange {
  /* border: 2px solid orange; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* border-radius: 25px; */
  background: white;
  padding: 15px 25px 15px 25px;
  margin: 5px 15px 5px 15px;
  /*top, right, bottom, left*/
}

.SignUpForm-blue {
  /* border: 2px solid blue; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* border-radius: 25px; */
  background: white;
  padding: 15px 25px 15px 25px;
  margin: 5px 15px 5px 15px;
  /*top, right, bottom, left*/
}

form input.error {
  border-color: red;
}

form span.error {
  color: red;
}

.hidden {
  display: none;
}


.NavBar-yellow {
  border: 2px solid gray;
  /* border-radius: 25px; */
  background-color: yellow;
  padding: 1px 5px 1px 5px;
}

.EditStoryForm-blue {
  /* border: 2px solid blue; */
  /* border-radius: 25px; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background: white;
  padding: 15px 15px 15px 15px;
  /* margin: 5px 0px 5px 20px; */
  margin: 20px 20px 20px 20px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.EditStoryForm-linebreaks {
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.EditStoryForm-blue-modal {
  border: 2px solid blue;
  background: white;
  padding: 15px 25px 15px 25px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.StoryShow-purple {
  /* border: 2px solid purple; */
  /* border-radius: 25px; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background: white;
  padding: 5px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.StoryShow-purple-modal {
  border: 2px solid purple;
  background: white;
  padding: 15px 25px 15px 25px;
  /*top, right, bottom, left*/
  white-space: pre-wrap; /*this is to preserve line breaks added by users*/
}

.App-body-purple {
  background: rgba(246, 252, 255, 1); /* the nerd gif's light blue background color */
  /* border: 5px solid purple; */
  display: flex; /* need this for sticky footer */
  flex-direction: column;
  min-height: 100vh;
  /* vh is viewport height, so this is 100% of viewport for any screen size */
}

.App-content {
  flex: 1; /* need this for sticky footer */
}

/* .App-fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: purple;
  color: yellow;
  text-align: center;
} */

.App-sticky-footer {
  background: rgba(246, 252, 255, 1); /* the nerd gif's light blue background color */
  color: gray;
  margin-top: auto; /* need this for sticky footer */
  /* margin-top: 25%;  */ /* old way i was doing it before adding flex above for sticky footer */
  position: sticky;
  text-align: center;
}

.EditStoryText-blue {
  color: blue;
}


/* blinking parts of sentence */
span.blinkSubject {
  animation: blinkSubject 4s ease-out -2s;
}

@keyframes blinkSubject {
  to {
    background-color: red;
  }
}

span.blinkVerb {
  animation: blinkVerb 4s ease-out -2s;
  -webkit-animation: blinkVerb 4s ease-out -2s;
}

@keyframes blinkVerb {
  to {
    background-color: yellow;
  }
}

span.blinkObject {
  animation: blinkObject 4s ease-out -2s;
}

@keyframes blinkObject {
  to {
    background-color: limegreen;
  }
}

/*--------- changing WordNerds on hover -----------*/

/* changing WordNerds color on hover */
.hoverYellow:hover {background: yellow;}

/* Pulse Grow */
 @-webkit-keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes pulse-grow {
    to {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}
.pulse-grow {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow:hover {
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}



/*not using below class, can delete:*/
/*not using below class, can delete:*/
/*not using below class, can delete:*/
.blinkProse {
      animation: blinkProse 4s ease-out -2s;
      -webkit-animation: blinkProse 4s ease-out -2s;
    }
    @keyframes blinkProse {
      to {
          background-color: #FF00FF;
      }
    }
